
span{
    color: blue;
}
p{
    text-indent: 50px;
    width: 40%;
    height: 100%;
    text-align: justify;
    font-size: 1em;
}
#id1{
    color: dodgerblue;
}
body{
    background-color: darkgray;
}